li
  .form-check(
    :class="{bold: isFolder}"
    @click="toggle"
    @dblclick="makeFolder")
    input.form-check-input(:id="item.id" type="checkbox" :value="item.id" v-model="names")
    label.form-check-label(:for="item.id") {{ item.name }}: {{ item.price }}
    //- span {{ result }}
    span(v-if="isFolder") [{{ isOpen ? '-' : '+' }}]
  ul(v-show="isOpen" v-if="isFolder")
    tree-item(
      class="item"
      v-for="(child, index) in item.children"
      :key="index"
      :item="child"
      :names="names"
      @make-folder="$emit('make-folder', $event)"
      @add-item="$emit('add-item', $event)")
    li.add(@click="$emit('add-item', item)") +
